ion-card{
    img{
        width: 100%;
    }
}

h4{
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: rgb(94, 94, 94) solid 1px;

}

ion-list{
    margin-left: 10px;
    margin-right: 10px;
}